label{
    font-family: 'Lora', sans-serif;
}

form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    border: 1px solid lightgray;
}

input:not(#event_1,#event_2,#event_3,#event_4){
    width: 100%;
}

button{
    width: 15vw;
    max-width: 100px;
}

.checkboxes{
    width: 20vw;
    max-width: 300px;
}

#date{
    width: 30vw;
    max-width: 300px;
}