label{
    font-family: 'Raleway', sans-serif;
}

form{
    padding: 10%;
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
}

input{
    width: 100%;
}

button{
    width: 15vw;
    max-width: 100px;
}

.checkboxes{
    width: 50vw;
    max-width: 600px;
}

#date{
    width: 30vw;
    max-width: 300px;
}